<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">

    <!--
           相当于<context:component-scan base-package="com.mmall"/>
           和<context:annotation-config />

           <context:annotation-config />作用是向Spring容器注册

      (1)  org.springframework.beans.factory.annotation包下的
           AutowiredAnnotationBeanPostProcessor  对@Autowired(byType)注解进行解析，使注解起作用

      (2)  org.springframework.context.annotation包下的
           CommonAnnotationBeanPostProcessor     对JSR-250规范的注解如：
                                                 @Resource(byName),@PostConstruct,@PreDestroy等
                                                 注解进行解析，使注解起作用

      (3)  org.springframework.orm.jpa.support包下的(未导入orm包也不会报错)
           PersistenceAnnotationBeanPostProcessor 对@persistenceContext注解进行解析，使注解起作用

      (4)  org.springframework.beans.factory.annotation包下的
           RequiredAnnotationBeanPostProcessor      对@Required注解进行解析，使注解起作用

    -->
    <context:component-scan base-package="com.mmall" annotation-config="true">
        <!--Spring扫描bean  排除带有Controller注解的bean-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--aop使用aspectj自动代理-->
    <aop:aspectj-autoproxy/>

    <!--读取配置文件，location指定配置文件路径-->
    <context:property-placeholder location="classpath:datasource.properties" />

    <!--支持定时任务注解-->
    <task:annotation-driven />


    <!--引入其他配置文件-->
    <import resource="applicationContext-datasource.xml" />
    <import resource="applicationContext-spring-session.xml" />


</beans>